# Import library

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import cross_val_score

# Insert dataset

In [2]:
data = pd.read_csv("SMS_Text.csv")

# Explore data analysis

In [3]:
data.shape

(5574, 2)

In [10]:
data.head()

   label                                               data
0      1  ["Free entry in 2 a wkly comp to win FA Cup fi...
1      1  ['"FreeMsg Hey there darling it\'s been 3 week...
2      1  ['WINNER!! As a valued network customer you ha...
3      1  ['Had your mobile 11 months or more? U R entit...
4      1  ['"SIX chances to win CASH! From 100 to 20,000...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5574 non-null   int64
 1   data    5574 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [8]:
data.describe()

             label
count  5165.000000
mean      0.125266
std       0.331053
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

# Data preprcess

In [9]:
data.isnull().sum()

label    0
data     0
dtype: int64

In [6]:
data.drop_duplicates(keep='first',inplace=True)

In [11]:
data.shape
data.columns

Index(['label', 'data'], dtype='object')

In [12]:
x = data["data"]
y= data["label"]

In [ ]:
vectorize = TfidfTransformer()